<div id="general-info-modal" class="modal fade edit-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Editing General Information</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="geninfo" action="/admin/settings" method="post">
                    <fieldset>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col input-group">
                                    <label for="restaurant_name">Restaurant Name</label>
                                    <input type="text" class="form-control" name="restaurant_name" id="restaurant_name" {{#if settings.general_info.restaurant_name}}
                                        value="{{settings.general_info.restaurant_name}}" {{/if}} />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col input-group">
                                    <label for="contact_name">Restaurant Owner</label>
                                    <input type="text" class="form-control" name="contact_name" id="contact_name" {{#if settings.general_info.contact_name}}
                                        value="{{settings.general_info.contact_name}}" {{/if}} />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col input-group">
                                    <label for="contact_phone">Restaurant Phone Number</label>
                                    <input type="email" class="form-control" name="contact_phone" id="contact_phone" {{#if settings.general_info.contact_phone}}
                                        value="{{settings.general_info.contact_phone}}" {{/if}} />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col input-group">
                                    <label for="contact_email">Contact Email</label>
                                    <input type="tel" class="form-control" name="contact_email" id="contact_email" {{#if settings.general_info.contact_email}}
                                        value="{{settings.general_info.contact_email}}" {{/if}} />
                                </div>
                            </div>
                            <h2>Address</h2>
                            <div class="form-row">
                                <div class="col input-group">
                                    <label for="address_line1">Street 1</label>
                                    <input type="text" class="form-control" name="address_line1" id="address_line1" {{#if settings.general_info.address.line1}}
                                        value="{{settings.general_info.address.line1}}" {{/if}} />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col input-group">
                                    <label for="address_line2">Street 2</label>
                                    <input type="text" class="form-control" name="address_line2" id="address_line2" {{#if settings.general_info.address.line2}}
                                        value="{{settings.general_info.address.line2}}" {{/if}} />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6 input-group">
                                    <label for="restaurant_city">City</label>
                                    <input type="text" class="form-control" name="restaurant_city" id="restaurant_city" {{#if settings.general_info.address.restaurant_city}}
                                        value="{{settings.general_info.address.restaurant_city}}" {{/if}} />
                                </div>
                                <div class="col-3 input-group">
                                    <label for="restaurant_state">State</label>
                                    <input type="text" class="form-control" name="restaurant_state" id="restaurant_state" {{#if settings.general_info.address.restaurant_state}}
                                        value="{{settings.general_info.address.restaurant_state}}" {{/if}} />
                                </div>
                                <div class="col input-group">
                                    <label for="restaurant_zip">Zip Code</label>
                                    <input type="text" class="form-control" name="address_line2" id="address_line2" {{#if settings.general_info.address.restaurant_zip}}
                                        value="{{settings.general_info.address.restaurant_zip}}" {{/if}} />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Save Changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>