 {{> main/_navbar}}
<section class="mini-hero">
    <div class="about-hero mini-hero-img"></div>
</section>
<section id="about" class="section">
    <div class="sub title text-center">
        <a>PHO NOW INFO</a>
    </div>
    <div class="container">
        <div class="row content no-gutters">
            <div class="col-md-6 col-sm-12 vcenter-img">
                <image src="../../img/main/about-square.png" class="img-fluid" alt="na"></image>                
            </div>
            <div id="info" class="col-md-6 col-sm-12 text-center">
                <div id="contact">
                    <div class="small-title">
                        <span>CONTACT</span>
                    </div>
                    <div id="phone">
                        <i class="fas fa-phone-square fa-md"></i> Phone: {{contact.1.contact_phone1}}</div>
                    <div id="email">
                        <i class="fas fa-envelope-square fa-md"></i> Email: {{contact.1.contact_email}}</div>
                    <a href="/contact">
                        <button type="button" class="btn-white hvr-white">CONTACT US</button>
                    </a>
                </div>
                <div id="address">
                    <div class="small-title">
                        <span>ADDRESS</span>
                    </div>
                    <div class="address-line">
                        <i class="fas fa-map-marker-alt fa-md"></i> {{address.fulladdress}}</div>
                </div>
                <div id="hours">
                    <div class="small-title">
                        <span>HOURS</span>
                    </div>
                    {{#each hours}}
                        <div class="hours">{{this.day_name}}: {{this.start_time}} - {{this.end_time}}</div>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div id="map"></div>
</section>