<div class="card card-body inform-form view-mode">
    <h2>General Information
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#general-info-modal">
            <i class="fa fa-edit"></i>
            EDIT
        </button>
    </h2>
    <div id="geninfo">
        <div class="row">
            <div class="col">
                <label>Restaurant Name: </label>
                <span id="restaurant_name">
                    {{#if settings.general_info.restaurant_name}} {{settings.general_info.restaurant_name}} {{else}}
                    <span class="missing-data">No name listed</span>
                    {{/if}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Restaurant Owner: </label>
                <span id="contact_name">
                    {{#if settings.general_info.contact_name}} {{settings.general_info.contact_name}} {{else}}
                    <span class="missing-data">No name listed</span>
                    {{/if}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Restaurant Phone Number: </label>
                <span id="contact_phone">
                    {{#if settings.general_info.contact_phone}} {{settings.general_info.contact_phone}} {{else}}
                    <span class="missing-data">No phone number specified</span>
                    {{/if}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Contact Email: </label>
                <span id="contact_email">
                    {{#if settings.general_info.contact_email}} {{settings.general_info.contact_email}} {{else}}
                    <span class="missing-data">No email specified</span>
                    {{/if}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Restaurant Address: </label>
                <span class="address">
                    {{#if settings.general_info.address.line1}} {{settings.general_info.address.line1}}, {{#if settings.general_info.address.line2}}
                    {{settings.general_info.address.line2}}, {{/if}} {{else}}
                    <span class="missing-data">No street specified</span>, {{/if}} {{#if settings.general_info.address.restaurant_state}} {{settings.general_info.address.restaurant_state}},
                    {{else}}
                    <span class="missing-data">No State</span>, {{/if}} {{#if settings.general_info.address.restaurant_zip}} {{settings.general_info.address.restaurant_zip}},
                    {{else}}
                    <span class="missing-data">No Zipcode</span>
                    {{/if}}
                </span>
            </div>
        </div>
    </div>
</div>

{{>admin/settings/modals/_general-info-modal}}