<div class="card card-body inform-form view-mode">
    <h2>Hours of Operation
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#storehours-modal">
            <i class="fa fa-edit"></i>
            EDIT
        </button>
    </h2>
    <div id="geninfo">
        {{#each settings.restaurant_hour.list}}
        <div class="row">
            <div class="col">
                <label>{{this.day_name}}: </label>
                {{#if this.isActive}} {{#if this.start_time}}{{this.start_time}}{{else}}???{{/if}} - {{#if this.end_time}}{{this.end_time}}{{else}}???{{/if}}
                {{else}} Closed {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{>admin/settings/modals/_storehours-modal}}