<div class="edit-mode add-form">
    <fieldset class="card card-body">
        <h2>Add new menu item</h2>
            <form id="newitem" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col input-group">
                            <label for="add_name_english">Name</label>
                            <input type="text" class="form-control" name="add_name_english" id="add_name_english" />
                        </div>
                        <div class="col input-group">
                            <label for="add_name_vietnamese">Name (Vietnamese)</label>
                            <input type="text" class="form-control" id="add_name_vietnamese">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col input-group">
                            <label for="add_menutype">Category</label>
                            
                            {{assignJSON 'typelist' args.menuTypes.success}}
                            <select class="form-control" id="add_menutype" name="add_menutype">
                                <option value="">Select..</option>
                                {{#each this.typelist}}
                                <option value="{{this.id}}">
                                    {{this.menu_type_name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col input-group">
                            <label for="add_category">Sub category</label>
                            {{assignJSON 'catlist' args.categories.success}}
                            <select class="form-control" id="add_category" name="add_category">
                                <option value="">Select..</option>
                                {{#each this.catlist}}
                                <option value="{{this.id}}">
                                    {{this.category_name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col input-group">
                            <label for="add_price">Price</label>
                            <input type="text" class="form-control" id="add_price">
                        </div>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col input-group">
                        <label for="add_description">Description</label>
                        <textarea class="form-control" name="add_description" id="add_description"></textarea>
                    </div>
                </div>
                <div class="form-group form-row actions">
                    <div class="col input-group">
                        <button id="submit_newitem" type="submit" class="btn btn-warning">Add Item</button>
                    </div>
                </div>
            </form>
    </fieldset>
</div>