<div class="row my-4 mx-0 grid" id="category-items">
    <div class="col">
    <form id="editcategory-" action="/api/newcategory" method="post">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-inverse">
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Modified</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{!-- TODO add form field visibility to manipulated via on-click events --}}
                {{#if settings.menuitem.list}}
                    {{#each settings.category.list}}
                         <tr class="edit-mode" id="edit-category-">
                             <td class="id">
                                 <p>{{this.id}}</p>
                                 <input id="category_id" name="category_id" type="hidden" value="{{this.id}}">
                             </td>
                             <td class="name">
                                 <input type="text" class="form-control" name="category_name-{{this.id}}" id="category_name-{{this.id}}" value="{{this.category_name}}"/>
                             </td>
                             <td class="description">
                                <textarea class="form-control" name="category_description-" id="category_description-">
                                    {{this.category_description}}
                                </textarea>
                             </td>
                             <td class="form-check input-group status">
                                 <input class="form-check-input" type="checkbox" value="" id="status-" name="status-" {{#if this.isActive}}checked{{/if}}>
                                 <label class="form-check-label">
                                     Enabled
                                 </label>
                             </td>
                             <td class="created">
                                 <p>{{this.createdAt}}</p>
                             </td>
                             <td class="modified">
                                 <p>{{this.updatedAt}}</p>
                             </td>
                             <td class="action">
                                 <button type="submit" class="btn btn-warning">Save Changes</button>
                             </td>
                         </tr>
                         <tr id="category-">
                             <td class="id">{{this.id}}</td>
                             <td class="name">{{this.category_name}}</td>
                             <td class="description">{{this.category_description}}</td>
                             <td class="status">{{#if this.isActive}}Enabled{{else}}Disabled{{/if}}</td>
                             <td class="created">{{this.createdAt}}</td>
                             <td class="modified">{{this.createdAt}}</td>
                             <td class="action"><i class="fa fa-edit"></i> <i class="fa fa-trash"></i></td>
                         </tr>
                    {{/each}}
                {{else}}
                        <tr class="no-results">
                            <td colspan="7">
                                <p>There are no items in your menu</p>
                            </td>
                        </tr>
                {{/if}}
                 </tbody>
             </table>
         </div>
     </form>
    </div>
  </div>