<div class="row my-4 mx-0 grid" id="menu_items">
    <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#if args.list.success}}
                        {{#each args.list.success}}
                        <tr class="edit-mode" id="edit-menuitem{{this.id}}">
                            <td colspan="8">
                            <form id="editmenuitem-{{this.id}}">
                                <div class="form-row">
                                    <div class="id">
                                        <p>{{this.id}}</p>
                                        <input id="menuitem_id" name="id" type="hidden" value="{{this.id}}" required>
                                    </div>
                                    <div class="col name">
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control" name="item_name_english" id="menuitem_name-{{this.id}}" value="{{item_name_english}}"
                                                       required />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" class="form-control" name="item_name_vietnamese" id="menuitem_name_viet-{{this.id}}" value="{{item_name_vietnamese}}"
                                                       required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col input-group menutype">
                                                {{assignJSON 'currentype' (filterObjectId this.menuTypeId @root.args.menutypes.success)}}
                                                {{assignJSON 'currentcat' (filterObjectId this.menuCategoryId @root.args.categories.success)}}
                                                <select class="form-control" id="menuitem_menutype-{{this.id}}" name="menuTypeId">
                                                    {{#unless this.currentype}}<option value="">Select..</option>{{/unless}}
                                                    {{#each ../this.typelist}}
                                                        {{debug this}}
                                                        <option value="{{this.id}}" {{#if (equals this.menu_type_name ../this.currentype.menu_type_name)}}selected="selected" {{/if}}>
                                                            {{this.menu_type_name}}
                                                        </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col input-group category">
                                                <select class="form-control" id="menuitem_subcategory-{{this.id}}" name="menuCategoryId">
                                                    {{#unless this.currentcat}}<option value="">Select..</option>{{/unless}}
                                                    {{#each ../this.catlist}}
                                                        <option value="{{this.id}}" {{#if (equals this.category_name ../this.currentcat.category_name)}}selected="selected" {{/if}}>
                                                            {{this.category_name}}
                                                        </option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col input-group price">
                                                <input type="text" placeholder="$" class="form-control" name="item_price" id="menuitem_price-{{this.id}}" value="{{item_price}}" required
                                                />
                                            </div>
                                            <div class="col input-group status my-2 d-flex align-items-end">
                                                <span class="caption mr-2">Enabled</span>
                                                <label class="form-check-label switch">
                                                    <input class="form-check-input" type="checkbox" value="{{this.isActive}}" id="status-{{this.id}}" name="isActive"
                                                        {{#if this.isActive}}checked{{/if}} >
                                                    <span class="slider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col input-group description">
                                        <textarea class="form-control" name="item_description" id="menuitem_description-{{this.id}}">{{item_description}}</textarea>
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <div class="row action">
                                            <div class="col">
                                                <button type="reset" class="btn" id="cancel-item-{{this.id}}">Cancel</button>
                                            </div>
                                            <div class="col">
                                                <button type="submit" id="update-item-{{this.id}}" class="btn btn-warning">Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </td>
                        </tr>
                        <tr id="menuitem-{{this.id}}">
                            <td class="id">{{this.id}}</td>
                            <td class="name">
                                {{item_name_english}}
                                {{#if item_name_vietnamese}}<br>({{item_name_vietnamese}}){{/if}}
                            </td>
                            <td class="menutype">{{this.currentype.menu_type_name}}</td>
                            <td class="category">{{this.currentcat.category_name}}</td>
                            <td class="price">${{item_price}}.00</td>
                            <td class="status">{{#if this.isActive}}Enabled{{else}}Disabled{{/if}}</td>
                            <td class="action">
                                <i class="fa fa-edit"></i>
                                <i class="fa fa-trash"></i>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr class="no-results">
                            <td colspan="8">
                                <p>There are no items in your menu</p>
                            </td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        <!--</form>-->
    </div>
</div>